---
import '../styles/global.css';

interface Props {
  title?: string;
  cdnUrl?: string;
}

const { title = "Sumomo Horse", cdnUrl = "https://cdn.sumomo.horse/misc/unsu-true.jpg" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>Under Construction (Astro Edition)</h1>
        <img src={cdnUrl} alt="Seiun Sky" width="256" height="256" />
	</body>
</html>