services:
  app:
    build: ./app
    restart: always

  nginx:
    image: nginxinc/nginx-unprivileged:alpine
    security_opt:
      - no-new-privileges:true
    restart: always
    ports:
      - "80:8080"
      - "2222:2222"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app 

  tunnel:
    image: cloudflare/cloudflared:latest
    restart: always
    command: tunnel --no-autoupdate run --token ${CF_TOKEN}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - nginx
