---
- hosts: all
  become: yes
  tasks:
    - name: Install Common Utilities
      apt:
        name: [git, curl, htop, vim, sudo]
        state: present
        update_cache: yes

    - name: Create 'matt' user
      user:
        name: matt
        groups: sudo
        shell: /bin/bash
        append: yes

- hosts: prod
  become: yes
  tasks:
    - name: Install Docker
      shell: curl -fsSL https://get.docker.com | sh
      args:
        creates: /usr/bin/docker
    
    - name: Add matt to docker group
      user:
        name: matt
        groups: docker
        append: yes

- hosts: dev
  become: yes
  tasks:
    - name: Setup NodeSource Repo
      shell: curl -fsSL https://deb.nodesource.com/setup_20.x | bash -
      
    - name: Install Node.js
      apt:
        name: nodejs
        state: present

    - name: Install PM2
      npm:
        name: pm2
        global: yes